.contenedor{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  background-color: #eceff5;

}

.principal{
  display: inline-grid;
}

.contenedor_form {
  background-color: #7d9ffc;
  width: 50%; /* Ajusta según tus necesidades */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title{
  text-align: center;
  margin-bottom: 15px;
}

.contenedor-form_input-phone{
  margin-top: 7px;
}

.contenedor-form_input-email{
  margin-top: 7px;
}

.contenedor-form_input-start{
  margin-top: 7px;
}

.contenedor-form_input-end{
  margin-top: 7px;
}

h1{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

input {
  box-sizing: border-box;
  width: 100%;
}

.boton_btn{
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #0056b3;
}

svg{
  margin-right: 5px;
}

p{
  margin-left: 10%;
  margin-top: 5%;
}

@media screen and (max-width: 768px) {

  .contenedor_form {
    flex-direction: column;
    align-items: center;
  }

  .contenedor_form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
  }
}

.contenedor_tabla {
  margin-top: 20px;
}

th {
  font-size: 10px;
}

td {
  font-size: 9px;
}

.contenedor_image_button {
  cursor: pointer;
}

.contenedor_image_search {
  align-items: center;
  display: flex;

}

.contenedor_image_searc.btn.btn-primary {
  margin-bottom: 15px;
  width: 100%;
}

@media only screen and (max-width: 600px) {

  th, td {
    font-size: 10px;
  }
}
