<h1>Customer Registration</h1>
<div class="contenedor">
  <div class="contenedor_image">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person"
      viewBox="0 0 16 16">
      <path
        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
    </svg>
    <a href="">Clients</a>
    <p>Clients</p>
    <p>Clients look history</p>
    <p>Emergency PPIN configuration</p>
    <p>Emergency PPIN history</p>
  </div>
  <div class="contenedor_form">
    <form class="contenedor-form_input">
      <h5 class="card-title">Create New Client</h5>
      <div class="contenedor-form_input-name">
        <label for="name">Name</label>
        <input [(ngModel)]="nombreCompleto" type="text" class="form-control" id="name" name="nombreCompleto">
      </div>
      <div class="contenedor-form_input-phone">
        <label for="phone" class="form-label">Phone</label>
        <input [(ngModel)]="telefono" type="text" class="form-control" id="phone" name="telefono">
      </div>
      <div class="contenedor-form_input-email">
        <label for="email" class="form-label">E-mail</label>
        <input [(ngModel)]="email" type="text" class="form-control" id="email" name="email">
      </div>
      <div class="contenedor-form_input-start">
        <label for="start" class="form-label">Start date</label>
        <input [(ngModel)]="fecha" type="date" class="form-control" id="start" name="fecha">
      </div>
      <div class="contenedor-form_input-end">
        <label for="end" class="form-label">End Date</label>
        <input type="date" class="form-control" id="end">
      </div>
      <div class="boton_btn">
        <button type="submit" class="btn btn-primary" (click)="addCliente()">OK</button>
      </div>
    </form>
  </div>
</div>
