.contenedor {

  width: 90%;
  display: flex;
  justify-content: center;
  margin-top: 10%;

}

.contenedor_tabla {
  margin-right: 5%;
  margin-top: 20px;
}

.contenedor_image {
  margin-top: 40px;
  margin-left: 15%;
  margin-right: 100px;
}

th {
  font-size: 10px;
}

td {
  font-size: 9px;
}

.image_pencil1 {
  display: flex;
  justify-content: center;
}

.contenedor_image_button {
  cursor: pointer;
}

a.btn.btn-primary {
  margin-right: 16px;
  margin-bottom: 15px;
}

.contenedor_image_search {
  align-items: center;
  display: flex;

}

.contenedor_image_searc.btn.btn-primary {
  margin-bottom: 15px;
  width: 100%;
}

input{
  margin-bottom: 15px;
  margin-right: 15px;
}
